[Unit]
Description=91Writing Docker Application
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/path/to/91Writing
ExecStart=/usr/bin/docker-compose --profile prod up -d
ExecStop=/usr/bin/docker-compose --profile prod down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target 